<h1>Division</h1>

<form action="/divide_result" method="get">
  <label for="first_num">Divide this:</label>
  <input id="first_num" name="first_num" type="text">

  <label for="second_num">by this:</label>
  <input id="second_num" name="second_num" type="text">

  <button>Divide!</button>
</form>
