<h1>Subtraction</h1>

<form action="/subtract_result" method="get">
  <label for="first_num">Subtract this:</label>
  <input id="first_num" name="first_num" type="text">

  <label for="second_num">from this:</label>
  <input id="second_num" name="second_num" type="text">

  <button>Subtract!</button>
</form>
